body {
  font-family: 'Roboto', sans-serif;
  color: rgba(67, 68, 85, 1);
  background-color: #ffffff;
}

button{
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
}

.page-header {
width: 1440px
height: 72px
border: 0px 0px 1px 0px

}

.link,
.address-link {
  text-decoration: none; /* Зняти підкреслення */
 
}

/* знімає маркер списка */
li {
  list-style-type: none;
}

/* navigation */
.text-logo{
    width: Hug (115px)
    height: Fixed (24px)
    top: 24px
    left: 156px
    
}
.text-logo { 
color: #4D5AE5;    
font-family: 'Raleway',sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.67;
letter-spacing: 0.03em;
text-align: left;
Width: 44px;
Height: 21px;    
   
}

.logo-web {
color: #2E2F42;    
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.67;
letter-spacing: 0.03em;
text-align: left;
width: 71px;
height: 21px;

    
}

.contakts-nav {
    width: Hug (261px)
    height: Hug (24px)
    top: 24px
    left: 347px
    gap: 40px
     
}

.link:hover,
.link:focus{
    color: #404bbf;
}

.link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color:  #2e2f42;
    text-decoration: ho;
}



.address-link{
font-style: normal;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: rgba(67, 68, 85, 1);
    
}
.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
/* Section Hero */

.titlle-hero{
width: 1440px;
height: 600px;
top: 72px;
background-color: rgba(46, 47, 66, 1);
color:rgba(255, 255, 255, 1);
}
.title{
width: 496px
height: 120px
top: 260px
left: 472px
}

.title{
font-family: 'Roboto', sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;

}

.button{
cursor: pointer;    
background-color: #4D5AE5;    
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: left;
color: rgba(255, 255, 255, 1);    
width: 105px
height: 24px

}
.button:hover,
.button:focus{
    color: #404BBF;
}
/* Section 2 */
.benefits{
line-height: 1.2;   
}
.contant{
    width: 1128px
    height: 104px
    top: 792px
    left: 156px
}


.benefits-second{
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: rgba(46, 47, 66, 1);
}

.text{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: rgba(67, 68, 85, 1);
}

/* Section Our Team  */
.main{
background-color: rgba(244, 244, 253, 1);
width: 1440px
height: 732px
top: 1016px   
}

.aside{
color: #2E2F42;    
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}

.aside-item{ 
background-color: #FFFFFF;      
width: 232px;
height: 56px;
gap: 8px
    
}
.one{
    width: 264px;
    height: 380px;
    top: 1248px;
    left: 156px;
    padding: 0px 0px 32px 0px;
    border-radius: 0px 0px 4px 4px;
    gap: 32px;
    
}

.second{
width: 264px;
height: 380px;
top: 1248px;
left: 444px;
padding: 0px 0px 32px 0px;
border-radius: 0px 0px 4px 4px;
gap: 32px;

}

.third{
width: 264px;
height: 380px;
top: 1248px;
left: 732px;
padding: 0px 0px 32px 0px;
border-radius: 0px 0px 4px 4px;
gap: 32px;

}

.fourth{
width: 264px;
height: 380px;
top: 1248px;
left: 1020px;
padding: 0px 0px 32px 0px;
border-radius: 0px 0px 4px 4px;
gap: 32px;
    
}

.aside-title{
color: rgba(46, 47, 66, 1);    
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
    
}

.section-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
color: rgba(67, 68, 85, 1);        
}

/* Section Portfolio  */
.portfolio{
width: 1128px;
height: 1000px;
top: 1868px;
left: 156px;
border: 1px;
color: rgba(231, 233, 252, 1); 
}

.portfolio-title{
color: #2E2F42;    
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}

.portfolio-item{
width: 360px
height: 420px
top: 1980px
left: 156px
padding: 0px 0px 32px 0px
border: 1px       
}

.portfolio-main{
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: rgba(46, 47, 66, 1);    
}

.portfolio-text{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: rgba(67, 68, 85, 1);
}

/*  Footer */
.footer{
width: 1440px;
height: 312px;
top: 2988px;
background-color: rgba(46, 47, 66, 1);
}

.text-logo{
color: #4D5AE5;    
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;

} 

.logo-web-two{
color: #F4F4FD;    
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;

}

.footer-text{
color:  #F4F4FD;    
font-family:  "Raleway", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left; 
text-transform: uppercase;   
}

